{% extends "@adminlte-theme/pages/account-settings.html.twig" %}

{% block body_matter %}
    Account-settings
    <div class="row">
        <div class="col-lg-6">
            {% block settings_profile_box %}
                {{  parent() }}
            {% endblock %}
        </div>
        <div class="col-lg-6">
            {% block settings_account_box %}
	    	{{  parent() }}
            {% endblock %}
        </div>
	  <div class="col-lg-12">
            {% block account_delete_box %}
                <div class="box box-primary">
                    {% include "forms/account-delete.html.twig" %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block scripts_page %}
    {{ parent() }}
    {{ encore_entry_script_tags('SelfTerminate.page.account-settings') }}
{% endblock %}
