
    <div class="box-header">
        <h3 class="box-title"><i class="fas fa-user fa-fw"></i>Delete Account</h3>
    </div>
    <div class="box-body">
        {% include "forms/csrf.html.twig" %}
    </div>
    <div id="self-termination" class="box-footer text-center">
	  <a href="#" class="js-user-delete">{{translate('DELETE')}}</a>
    </div>
